@import normalize

/* grid */
.container
  margin: 0 auto
  max-width: 1024px
  padding-left: 16px
  padding-right: 16px
  &.fluid
    max-width: none
    padding-left: 8px
    padding-right: 8px
.row
  display: flex
  flex-wrap: wrap
  margin-left: -8px
  margin-right: -8px
  &.align
    align-items: center
  &.justify
    justify-content: space-between
.col
  padding-left: 8px
  padding-right: 8px

/* main styles */
html
  background-color: #008EBB
body 
  *
    box-sizing: border-box
    &:focus
      outline: none

#app
  background-image: linear-gradient(to bottom, #008EBB, #00CBE0)
  background-size: 100%
  color: #333
  font-family: 'Titillium Web', sans-serif
  font-size: 16px
  min-height: 100vh
  position: relative
.bg-contain
  background-position: center
  background-repeat: no-repeat
  background-size: contain
.bg-cover
  background-position: center
  background-repeat: no-repeat
  background-size: cover
.btn-main
  background-color: coral
  border: none
  color: #fff
  cursor: pointer
  display: inline-block
  padding: 4px 6px
  &.lg
    padding: 6px 20px
  &:hover
    background-color: chocolate


@import responsive
@import '../components/header/header.sass'
@import '../components/footer/footer.sass'
@import '../components/search-panel/search-panel.sass'
@import '../components/search-selector/search-selector.sass'
@import '../components/movies-list/movies-list.sass'
@import '../components/movie-item/movie-item.sass'
@import '../components/info-text/info-text.sass'
@import '../components/sorting/sorting.sass'
